@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #858484;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}
.globeBack{
  box-shadow: rgba(10, 10, 221, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.scroll-container {
  overflow: hidden; /* Hides overflowing content */
  position: relative;
  height: 16vh; /* Adjust as necessary */
}

.scroll-content {
  display: flex;
  height: 100%;
  animation: scroll-left 30s linear infinite; /* Animation for scrolling */
}

@keyframes scroll-left {
  from {
    transform: translateX(100%); /* Start from right outside the viewport */
  }
  to {
    transform: translateX(-100%); /* Move to left outside the viewport */
  }
}

.scroll-container:hover .scroll-content {
  animation-play-state: paused; /* Pauses the animation on hover */
}

/* Ensure images maintain aspect ratio and are responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Adjust image size for mobile devices */
@media (max-width: 768px) {
  .scroll-content img {
    max-width: 50%; /* Increase size for mobile */
    height: auto; /* Maintain aspect ratio */
  }
}
